/* 標籤頁面(page-Tags)，取消超連結 的上級偽類內容 */
.tag-cloud-tags a::after {
  content: "";
}

/* 包含標題 最外容器 */
.tag-cloud {
  min-height: 75lvh;
  display: flex;
  flex-direction: column;
  margin: -2.5rem 0 0 0;
}

/* 標籤頁面(page-Tags) 容器樣式 */
.tag-cloud-tags {
  height: 100%;
  list-style: none;
  overflow: hidden;
  padding: 1rem;
  margin: auto 2rem;
  font-family: Kanit;
  letter-spacing: 1px;
}

/* 標籤頁面(page-Tags) 樣式, 底色 */
.tag-cloud-tags a {
  background: #151515;
  border-radius: 3px 0 0 3px;
  color: #aaa;
  text-shadow: none;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin: 0em 1em 0.5rem 0.2em;
  padding: 0.5em 0.5em 0.5em 0;
  position: relative;
  text-decoration: none;
}

/* 標籤頁面(page-Tags) 前(#)號 */
.tag-cloud-tags a::before {
  font-family: FontAwesome;
  content: "\23";
  display: inline-block;
  padding-right: 3px;
  padding-left: 0.5rem;
  color: #777;
  font-size: 0.75em;
}

/* 標籤頁面(page-Tags) 後箭頭 */
.tag-cloud-tags a::after {
  height: 0;
  width: 0;
  font-size: inherit !important;
  background: transparent;
  border-bottom: 1em solid #151515;
  border-right: calc(0.5em + 0px) solid transparent;
  border-top: 1em solid #151515;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: calc(-0.5em + 1px);
}

/* 標籤頁面(page-Tags) 懸浮色 */
.tag-cloud-tags a:hover {
  background-color: var(--secondary-theme-color);
  color: white !important;
  box-shadow: 4px 8px 8px -4px #050505;
  transform: translateY(-2px);
}

/* 標籤頁面(page-Tags) 後箭頭 懸浮色 */
.tag-cloud-tags a:hover::after {
  border-bottom-color: var(--secondary-theme-color);
  border-top-color: var(--secondary-theme-color);
  transition: 0.5s;
}

/* 標籤頁面(page-Tags) #號 懸浮色 */
.tag-cloud-tags a:hover::before {
  color: #ddd;
}
