/* 檔案頁面(Archive) 關閉 Keep on posting */
.archive .collection-title {
  display: none !important;
}

/* 檔案頁面(Archive) 計數徽章(Badge) */
.posts-collapse .post-content .collection-year .collection-year-count {
  font-family: Kanit;
  font-size: 0.75rem;
  background: var(--menu-item-bg-color);
  border-radius: 25%;
  color: var(--link-color);
  padding: 2px 2px;
  display: inline-block;
  text-align: center;
  vertical-align: 20%;
  line-height: 1rem;
  height: 1rem;
  min-width: 1rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

/* 檔案頁面(Archive) 分類下小標題 副標顏色 */
.posts-collapse .post-content .collection-header small {
  color: var(--blockquote-color);
}

/*  檔案頁面(Archive) 年份大標題 */
.posts-collapse .post-content .collection-year {
  margin: 1.5em 0 -0.25em 0;
  font-family: Kanit;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 700;
  margin-right: 0.25em;
}

/*  檔案頁面(Archive) 月份時間 */
.posts-collapse .post-content time {
  position: relative;
  float: right;
  top: 1em;
  color: var(--blockquote-color);
}
