#link_card_template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  overflow-x: scroll;
}

#link_card_template::-webkit-scrollbar {
  height: 0.5em;
  background-color: transparent;
}

#link-card-content {
  padding: 0.2rem;
  &:hover {
    padding: -2rem 0rem -2rem 0rem;
  }
}

.link-card-btn {
  background-color: #77777760;
  box-shadow: inset rgba(15, 15, 15, 0.5) 0px -10px 10px -8px;
  border-radius: 1rem;
  border-color: transparent;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 0px;
  padding-inline: 0px;
  width: auto;
  &:hover {
    box-shadow: inset rgba(15, 15, 15, 0.5) 0px 10px 10px -8px;
    width: auto;
  }
}

#link-card-btn-content {
  transition: all 0.2s ease-out;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#link-card-btn-img {
  display: flex;
  width: 5rem;
  height: 5rem;
  opacity: 1;
  margin: 0px;
}

#link-card-btn-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#link-card-btn-title {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 2px;
  width: 6rem;
  margin: 0.5rem 0.2rem 0.2rem 0.2rem;
}

#link-card-btn-subtitle {
  width: 6rem;
  height: 2rem;
  font-size: 0.8rem;
  margin: 0rem 0.2rem 0rem 0.2rem;
}

#link-card-btn-01 > div:hover,
#link-card-btn-02 > div:hover,
#link-card-btn-03 > div:hover,
#link-card-btn-04 > div:hover,
#link-card-btn-05 > div:hover,
#link-card-btn-06 > div:hover,
#link-card-btn-07 > div:hover,
#link-card-btn-08 > div:hover,
#link-card-btn-09 > div:hover,
#link-card-btn-10 > div:hover,
#link-card-btn-11 > div:hover,
#link-card-btn-12 > div:hover {
  transform: scale(1.05);
}
#link-card-btn-06 > div:hover {
  color: #fafbfc;
}

#link-card-btn-01:hover {
  background-color: #48b2f8;
}
#link-card-btn-02:hover {
  background-color: #0096fa;
}
#link-card-btn-03:hover {
  background-color: #9146ff;
}
#link-card-btn-04:hover {
  background-color: #da4843;
}
#link-card-btn-05:hover {
  background-color: #da4843;
}
#link-card-btn-06:hover {
  background-color: #24292e;
}
#link-card-btn-07:hover {
  background-color: #fbf38a;
}
#link-card-btn-08:hover {
  background-color: #3a8fa7;
}
#link-card-btn-09:hover {
  background-color: #ff9b76;
}
#link-card-btn-10:hover {
  background-color: #89c623;
}
#link-card-btn-11:hover {
  background-color: #89c623;
}
#link-card-btn-12:hover {
  background-color: #abd5e7;
}
